* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 748px) {
  .nav-bar-container: ;
}

body {
  background-color: #011b2b;
  color: aliceblue;
  font-family: Poppins;
}

.nav-bar-container {
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: #1a2330;
  background: linear-gradient(#1a2330, #011b2b);
  padding-bottom: 10px;
}

.navigation-bar {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 1.25em;
  gap: 50px;
  width: 95%;
  height: 100px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: aliceblue;
}

.nav-item:visited {
  color: aliceblue;
}

.nav-item:hover {
  text-decoration: underline;
}

.banner-container {
  display: flex;
  justify-content: center;
  height: 550px;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25em;
}
